<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:unless="${code}">
    <form th:action="@{/oauth2/login}" method="get">
        <button type="submit">Authorize using SecureLogin</button>
    </form>
</div>

<div th:if="${code}">
    <p>Access Token retrieved : <span th:text="${code}"></span></p>

    <br/>

    <form th:action="@{/clear-token}" method="get">
        <button type="submit">Delete Access Token</button>
    </form>
</div>


</body>
</html>